---
export interface Props {
    adresse: string;
    favori: boolean;
    id: string;
    nbChambres: number;
    nbSdb: number;
    nomMaison: string;
    prix: number;
    surface: number;
    imgUrl: string;
}

const { ...offre } = Astro.props;

export interface Props {
    nom: string;
    prenom: string;
    email: string;
}

const { nom, prenom, email } = Astro.props;
import iconfavoris from "../assets/img/favorite.svg";
---

<div
    x-data={`{favori: ${offre.favori}, clickFavori() {this.favori = !this.favori; setFavori(${JSON.stringify(offre)});}}`}
    class="card border p-4 shadow-lg rounded-lg transition hover:shadow-xl"
>
    <img
        src={offre.imgUrl}
        alt={`Image de ${offre.nomMaison}`}
        class="w-full h-32 object-cover rounded-t-lg mb-4"
    />
    <h2 class="text-xl font-bold mb-2">{offre.nomMaison}</h2>
    <p class="text-gray-600">{offre.adresse}</p>
    <ul class="mt-2 text-sm text-gray-700">
        <li>Prix : {offre.prix} € / mois</li>
        <li>Surface : {offre.surface} m²</li>
        <li>Chambres : {offre.nbChambres}</li>
        <li>Salles de bain : {offre.nbSdb}</li>
    </ul>
    <div>
        <a href={`/offres/${offre.id}`}>Voir plus</a>
    </div>

    <button class="absolute bottom-0 left-0 p-2 text-white rounded-br-lg" @click="clickFavori"
    >
        <img src={iconfavoris.src} alt="Favori" class="mt-20" />
    </button>
</div>

<script>
    //@ts-nocheck
    import { setFavori } from "../../backend.mjs";
    window.setFavori = setFavori;
</script>
