---
export interface Props {
    adresse: string;
    favori: boolean;
    id: string;
    nbChambres: number;
    nbSdb: number;
    nomMaison: string;
    prix: number;
    surface: number;
    imgUrl: string;
}

const { ...offre } = Astro.props;

export interface Props {
    nom: string;
    prenom: string;
    email: string;
}

const { nom, prenom, email } = Astro.props;
---

<div class="card border p-4 shadow-lg rounded-lg transition hover:shadow-xl">
    <img
        src={offre.imgUrl}
        alt={`Image de ${offre.nomMaison}`}
        class="w-full h-32 object-cover rounded-t-lg mb-4"
    />
    <h2 class="text-xl font-bold mb-2">{offre.nomMaison}</h2>
    <p class="text-gray-600">{offre.adresse}</p>
    <ul class="mt-2 text-sm text-gray-700">
        <li>Prix : {offre.prix} € / mois</li>
        <li>Surface : {offre.surface} m²</li>
        <li>Chambres : {offre.nbChambres}</li>
        <li>Salles de bain : {offre.nbSdb}</li>
    </ul>
    <div>
        <a href={`/offres/${offre.id}`}>Voir plus</a>
    </div>
</div>

<div
    class="card border p-4 shadow-lg rounded-lg transition hover:shadow-xl"
    x-data={`{favori: ${offre.favori}, clickFavori() {this.favori = !this.favori; window.setFavori(${JSON.stringify(offre)});}}`}
>
    <div
        class="card p-6 bg-white shadow-xl rounded-lg flex flex-col items-center"
    >
        <!-- Informations de l'agent -->
        <ul class="mt-2 text-sm text-gray-700">
            <li>Nom : {nom}</li>
            <li>Prenom : {prenom}</li>
            <li>Email : {email}</li>
        </ul>
    </div>
</div>

<div class="card p-6 bg-white shadow-xl rounded-lg flex flex-col items-center">
        <h2 class="text-2xl font-semibold mb-2">{nom} {prenom}</h2>
        <p class="text-gray-600 mb-2">Email : {email}</p>
    </div>
